*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

li{
    list-style: none;
}

#h1page{
    text-align: center;
}

p{
    margin: 10px;
    text-align: left;
}

#postimages{    
    width: auto;
    height: 400px;
    object-fit: cover; 
    display: flex;
    justify-content: center;
}

/*Header*/

header{    
    background-image: url(../imagenes/soviet.jpg);
    background-position: center;
    background-size: cover;  
    min-width: 1440px;
    height: auto;
    margin: 0;
    padding: 0px;
}

.topheader{
    width: 1200px;
    margin: auto;
    padding: 5px;
    background-color: #8B0000;
    display: flex;
    justify-content: center;    
}

.topheader a{
    width: 100%;
    height: 100%;
    padding: 5px;
    margin: 2px;    
}

.footer{
    width: 1200px;
    margin: auto;
    padding: 5px;
    background-color: #8B0000;
    display: flex;
    justify-content: center;       
}

.social-transform :hover{
    background-color: black;
}

.footer a{
    margin: 10px;    
}


/*Logo, título y subtítulo*/

.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    width: 150px;
    height: auto;
}

.title{
    color: rgb(255, 255, 255);
    font-size: 400%;
    -webkit-text-stroke: 2px rgb(0, 0, 0);
    font-weight: bold;
    text-decoration: none;
}

.title:hover{
    color: rgb(0, 0, 0);
    font-size: 400%;
    -webkit-text-stroke: 2px rgb(255, 255, 255);
    font-weight: bold;
    text-decoration: none;
}

.sub-title{
    color: rgb(0, 0, 0);
    font-size: 180%;
    -webkit-text-stroke: 1px rgb(255, 255, 255);
    font-weight: bold;
    display: flex;
    justify-content: center;
    position: relative;
    top:-20px;
    text-decoration: none;
}
/*Menu*/

.nav{
    background-color: #8B0000; 
    width: 1200px;
    margin: auto;
    padding: 5px 10px 5px 10px;
    display: flex;
    align-items: center;
}

.nav a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 130%;
    margin: 0px 20px 20px 0px; 
}

.nav a:hover{
    color: black;  
}

.navbar-toggler{
    color: #ffffff;
}

/* Color Nav*/

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-light .navbar-toggler {
    border: 2px solid rgb(255, 255, 255);
}

/* Botón busqueda- el Círculo específica una "Lupa"*/ 

.search-click{
    border: 3px solid rgb(255, 255, 255);
    position: relative;
    overflow: hidden;
    position: relative;
    top: 2px;
    background-color: #8B0000;
    background-position: 10px;
    padding: 10px;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    transition: all 0.5s;
}

.search-click input{
    background: transparent;
    border: 1px solid #ccc;
    outline: none;
    position: absolute;
    width: 300px;
    height: 50px;
    left: 0%;
    padding: 10px;
}

.search-click:focus{
    width: 300px;
    padding-left: 50px;
    border-radius: 5px;
    background-color: #ffffff;
    border: none;
}

.sub-title:hover{
    color: rgb(255, 255, 255);
    font-size: 180%;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
}

/*Contenedor carrusel (historia principal), últimos artículos y artículos populares: banner*/

.banner-container{
    padding: 0% 10px 0% 5px;
    height: 500px;
    margin: auto;
    width: auto;
    display: flex;
    justify-content: center;

}

.tittles-banner{
    color: black;
    font-size: 120%;
    margin-top: 5px;
    margin-left: 10px;
}

/*Carrusel*/

.carousel-container{
    font-weight: bold;
    margin: 10px;
}

.carousel-inner{
    object-fit: cover;  
    width: 600px;
}

.carousel-inner img {
    height: 100%;
    width: 100%;
    object-fit: cover; 
}

/*Texto e iconos del carrusel*/

.carousel-caption{
    color: black;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
    } 

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
    }   

/*Columnas de artículos del Banner*/

.columns-container{
    height: 500px;
    width: 290px;
    margin: 2px;
}

.article-container-grid{
    display: grid;
    grid-template-rows: repeat(3, 147px);
    grid-template-columns: 1fr;
    gap: 4px;
}

.card-article{
    position: relative;
    overflow: hidden;
}

.card-title{
    position: absolute;
    z-index: 10000;
    bottom: 0;
    background-color: #8b0000;
    width: 99vw;
    visibility: hidden;
}

.card-article:hover .card-title{
    visibility: visible;

}

.image-animation{
    filter: brightness(100%);
}

.image-animation:hover{
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    transition: 1s;
    filter: brightness(70%);
}

.card-title a{
    text-decoration: none;
    color: #ffffff;
}

.article-container-grid img{
    height: 100%;
    width: 100%;
    object-fit: cover; 
}

/*Otros artículos (entradas generales) y aside*/

/*Otro artículos*/

.others-articles-aside{
    height: auto;
    margin: auto;
    padding: 0% 5px 0% 5px;
    display: flex;
    justify-content: center;
}

.others-articles{
    height: 530px;
    width: 900px;
}

.grid-container{    
    display: grid;
    grid-template-rows: 150px 150px 150px;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-left: 5px; 
}

.grid-item{
    border: 1px solid black;
    position: relative;
    overflow: hidden;
    font-weight: bold;
    font-size: 100%;
}

.title-others-inside{
    position: absolute;
    bottom: 0;
    z-index: 10000;

}

.grid-item img{
    height: 100%;
    width: 100%;
    object-fit: cover; 
    filter: brightness(100%);
}

.grid-item:hover{
    transform: scale(0.9);
    transition: 1s;
    filter: brightness(70%);
}

.page-responsive{
    margin: auto;
}

/*Aside*/

aside{
    width: 280px;
    height: 500px;
    padding: 5px;   
}

.aside-page{
    position: sticky;
    top: 0;
}

.tittles-aside{
    color: black;
    font-size: 110%;
    margin-top: 5px;
    margin-left: 10px;
}

.recomended{
    color: black;
    font-size: 100%;
}

.asideitems{
    display: flex;
    justify-content: center;
    margin: 10px;
}

.asidesocial img{
    height: 35px;
    width: auto;
    padding: 2px;
    margin: 5px;
    border: 1px solid blue;
    background-color: #3b5998;
}

.asiderecomended{
    margin: 5px;
    padding: 3px;
    display: flex;
    justify-content: center;  
}

.contenedor-aside-otros{
    margin: 5px 10% 0px 10%;
    height: 450px;
    width: 1200px;
    background-color: #3b5998;
    display: flex;
    justify-content: center;
}

/*Responsive*/

    
    @media only screen and (min-width: 1200px) and (max-width: 1440px){
        header{
            min-width: 1200px;
        }
    } 

    @media only screen and (min-width: 1024px) and (max-width: 1199px){
        header{
            min-width: 1024px;            
        }
        .topheader{
            width: auto;
        }
        
        footer{
            width: auto;
        }
        
        .nav{
            width: auto;
        }

    } 

    @media only screen and (min-width: 768px) and (max-width: 1024px){
        header{
            min-width: 768px;
        }

        .logo{
            display: none;
        }

        .title{
            color: rgb(255, 255, 255);
            font-size: 300%;
        }
        
        .title:hover{
            color: rgb(0, 0, 0);
            font-size: 150%;
        }
        
        .sub-title{
            font-size: 150%;    
        }

        .topheader{
            width: auto;
        }
        
        footer{
            width: auto;
        }
        
        .nav{
            width: auto;
        }

        .banner-container{
            height: 425px;
            width: auto;
            display: flex;
            justify-content: center;
        }

        .carousel-container{
            font-weight: bold;
        }
        
        .carousel-inner{
            object-fit: cover;  
            width: 500px;
        }
      
        .article-container-grid{
            display: grid;
            grid-template-rows: repeat(3, 120px);
            grid-template-columns: 1fr;
            gap: 4px;
        }

        .others-articles-aside{
            height: auto;
            width: auto;
            margin: auto;
            padding:5px;
            display: flex;
            justify-content: center;        
        }

        .others-articles{
            height: auto;
            margin: auto;

        }       

    }      

    @media only screen and (min-width: 600px) and (max-width: 768px){
        header{
            min-width: 600px;
        }

        .logo{
            display: none;
        }

        .title{
            color: rgb(255, 255, 255);
            font-size: 300%;
        }
        
        .title:hover{
            color: rgb(0, 0, 0);
            font-size: 150%;
        }
        
        .sub-title{
            display: none;  
        }

        .topheader{
            width: auto;
        }
        
        footer{
            width: auto;
        }
        
        .nav{
            width: auto;
        }

        .banner-container{
            height: auto;
            width: auto;
            padding: 5px;
            display: flex;
            justify-content: center;
            align-content: space-around;
            flex-wrap: wrap;
        }

        .carousel-container{        
            font-weight: bold;
        }
        
        .carousel-inner{
            object-fit: cover;  
            width: 97vw;
        }

        .columns-container{
            height: 200px;
            width: 120vh;
            padding: 5px 5px 2px 5px;
        }    

        .popular-responsive{
            height: 200px;
            width: 120vh;
            padding: 5px 5px 2px 5px;
        }

        .article-container-grid{
            display: grid;
            grid-template-rows: 150px;
            grid-template-columns: repeat(3, 1fr);
            gap: 4px;
        }

        .others-articles-aside{
            height: auto;
            width: auto;
            margin: auto;
            padding:5px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;        
        }
        
        .others-articles{
            height: auto;
            width: 120vh;
            padding: 5px;        
        }

        aside{
            height: 290px;
            width: 120vh;            
            padding: 5px;          
            display: flex;
            align-items: center;
        }
        
        .asidesocial{
            display: none;
        }

        .grid-container{    
            display: grid;
            grid-template-rows: repeat(6, 250px);
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;
            margin-left: 5px; 
        }

        #channel{
            width: 400px;
            height: 240px;
        }

        .grid-item{
            border: 1px solid black;
        }
        
        .grid-item img{
            height: 100%;
            width: 100%;
            object-fit: cover; 
        }
    
    }  
    
    @media only screen and (min-width: 480px) and (max-width: 599px){
        .asidesocial-recomended{
            display: none;
        }
    } 

    @media only screen and (min-width: 480px) and (max-width: 560px){
        .asidesocial-recomended{
            display: none;
        }
        .asidesocial-recomended-two{
            display: none;
        }
    } 

    @media only screen and (min-width: 480px) and (max-width: 539px){
        .recomended-none{
            display: none;
        }

        aside{
            display: flex;
            justify-content: center;
        }

    } 
        
    @media only screen and (min-width: 480px) and (max-width: 600px){
        header{
            min-width: 480px;
        }

        .logo{
            display: none;
        }

        .title{
            color: rgb(255, 255, 255);
            font-size: 300%;
        }
        
        
        .title:hover{
            color: rgb(0, 0, 0);
            font-size: 150%;
        }
        
        .sub-title{
            display: none;  
        }

        .topheader{
            width: auto;
        }
        
        footer{
            width: auto;
        }
        
        .nav{
            width: auto;
        }

        .banner-container{
            height: auto;
            width: auto;
            display: flex;
            justify-content: center;
            align-content: space-around;
            justify-content: space-between;
            flex-wrap: wrap;     
        }

        .carousel-container{        
            font-weight: bold;
        }
        
        .carousel-inner{
            object-fit: cover;  
            width: 95vw;
        }

        .columns-container{
            height: 180px;
            width: 120vh;
            padding: 5px 5px 2px 5px; 
        }    

        .article-container-grid{
            display: grid;
            grid-template-rows: 130px;
            grid-template-columns: repeat(3, 1fr);
            gap: 4px;
        }

        .others-articles-aside{
            height: auto;
            margin: auto;
            padding:5px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        
        .others-articles{
            height: auto;
            width: 120vh;
            padding: 5px;      
        }

        aside{
            height: 290px;
            width: 120vh;            
            padding: 5px;          
            display: flex;
        }
        
        .asidesocial{
            display: none;
        }

        .recomended-none{
            display: none;
        }

        aside{
            display: flex;
            justify-content: center;
        }

        #channel{
            width: 400px;
            height: 240px;
        }

        .grid-container{    
            display: grid;
            grid-template-rows: repeat(6, 150px);
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;
            margin-left: 5px; 
        }

        .grid-item{
            border: 1px solid black;
        }
        
        .grid-item img{
            height: 100%;
            width: 100%;
            object-fit: cover; 
        }    
    }    

    @media only screen and (min-width: 320px) and (max-width: 480px){
        header{
            min-width: 320px;
        }

        .logo{
            display: none;
        }

        .title{
            color: rgb(255, 255, 255);
            font-size: 200%;
        }
        
        .title:hover{
            color: rgb(0, 0, 0);
            font-size: 150%;
        }
        
        .sub-title{
            display: none;  
        }

        .topheader{
            width: auto;
        }
        
        footer{
            width: auto;
        }
        
        .nav{
            width: auto;
        }

        .banner-container{
            height: auto;
            width: auto;
            display: flex;
            justify-content: center;
            align-content: space-around;
            justify-content: space-between;
            flex-wrap: wrap;     
        }

        .carousel-container{        
            font-weight: bold;
        }
        
        .carousel-inner{
            object-fit: cover;  
            width: 92vw;
        }

        .columns-container{
            height: 150px;
            width: 120vh;
            padding: 5px 5px 2px 5px; 
        }    

        .article-container-grid{
            display: grid;
            grid-template-rows: 115px;
            grid-template-columns: repeat(3, 1fr);
            gap: 4px;
        }        

        .others-articles-aside{
            height: auto;
            margin: auto;
            padding:5px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        
        .others-articles{
            height: auto;
            width: 100vh;
            padding: 5px;      
        }

        aside{
            height: 290px;
            width: 120vh;            
            padding: 5px;          
            display: flex;
        }
        
        .asidesocial{
            display: none;
        }

        .recomended-none{
            display: none;
        }

        aside{
            display: flex;
            justify-content: center;
        }

        .grid-container{    
            display: grid;
            grid-template-rows: repeat(12, 200px);
            grid-template-columns: repeat(1, 1fr);
            gap: 10px;
            margin-left: 5px; 
        }

        .grid-item{
            border: 1px solid black;
        }
        
        .grid-item img{
            height: 100%;
            width: 100%;
            object-fit: cover; 
        }    

        #channel{
            width: 90vw;
            height: 37vh;
        }
    }    

    @media only screen and (min-width: 320px) and (max-width: 480px){
        header{
            min-width: 320px;
        }

        .logo{
            display: none;
        }

        .title{
            color: rgb(255, 255, 255);
            font-size: 200%;
        }
        
        .title:hover{
            color: rgb(0, 0, 0);
            font-size: 150%;
        }
        
        .sub-title{
            display: none;  
        }

        .topheader{
            width: auto;
        }
        
        footer{
            width: auto;
        }
        
        .nav{
            width: auto;
        }

        .banner-container{
            height: auto;
            width: auto;
            display: flex;
            justify-content: center;
            align-content: space-around;
            justify-content: space-between;
            flex-wrap: wrap;     
        }

        .carousel-container{        
            font-weight: bold;
        }
        
        .carousel-inner{
            object-fit: cover;  
            width: 92vw;
        }

        .columns-container{
            height: 150px;
            width: 120vh;
            padding: 5px 5px 2px 5px; 
        }    

        .article-container-grid{
            display: grid;
            grid-template-rows: 115px;
            grid-template-columns: repeat(3, 1fr);
            gap: 4px;
        }        

        .others-articles-aside{
            height: auto;
            margin: auto;
            padding:5px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        
        .others-articles{
            height: auto;
            width: 100vh;
            padding: 5px;      
        }

        aside{
            height: 290px;
            width: 120vh;            
            padding: 5px;          
            display: flex;
        }
        
        .asidesocial{
            display: none;
        }

        .recomended-none{
            display: none;
        }

        aside{
            display: flex;
            justify-content: center;
        }

        .grid-container{    
            display: grid;
            grid-template-rows: repeat(12, 200px);
            grid-template-columns: repeat(1, 1fr);
            gap: 10px;
            margin-left: 5px; 
        }

        .grid-item{
            border: 1px solid black;
        }
        
        .grid-item img{
            height: 100%;
            width: 100%;
            object-fit: cover; 
        }    

        #channel{
            width: 90vw;
            height: 25vh;
        }
    }  




